<div class="AppProduct_outer_box" id="AppProduct_outer_box">
<div class="AppProduct_inner_box" id="AppProduct_inner_box" dstorec="{{- shop.money_format -}}" psid="{{ product.selected_or_first_available_variant.id }}" pid={{ product.id }}>   
</div>
</div>
