<div class="app_ex_form_wrapper">
    <form class="app_ext_form_inner" id="app_ext_form_inner">
        <input name="name" placeholder="enter your name" required />
        <input name="email" placeholder="enter your email" required />
        <textarea name="description" rows="8" placeholder="enter your query message"></textarea>
        <button class="btnform" id="btnfid">Submit</button>
    </form>
</div>


<div class="store_feedback" id="store_feedback"></div>